In [2]:
# Import
import json
import math
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
# from fastai.structured import add_datepart

# Linear Regression
from sklearn.linear_model import LogisticRegression

# NLTK
from nltk.sentiment import SentimentAnalyzer
import unicodedata
from nltk.sentiment.util import *
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Data Collecting

In [3]:
# Config
symbl = 'AAPL'
apiKey = 'MSXSR0YHC991CZN6'

# Fetch Historical Data
df = pd.read_csv('https://www.alphavantage.co/query?datatype=csv&function=TIME_SERIES_DAILY&symbol=' + symbl + '&outputsize=full&apikey=' + apiKey)

# Setting index as date
df['timestamp'] = pd.to_datetime(df.timestamp, format='%Y-%m-%d')
df.index = df['timestamp']

In [4]:
# Write dataframe to access locally
df.to_csv("daily_AAPL.csv", index=False)

# Data Overview

In [41]:
# Get general statistics
df.describe()

              open         high          low        close        volume
count  5031.000000  5031.000000  5031.000000  5031.000000  5.031000e+03
mean    170.531490   172.387633   168.498200   170.481335  1.158857e+08
std     160.601243   161.878975   159.062451   160.489462  9.850473e+07
min      12.990000    13.190000    12.720000    13.120000  9.835000e+06
25%      55.365000    56.924000    54.515000    55.637500  4.884080e+07
50%     117.950000   119.400000   116.680000   118.310000  8.870960e+07
75%     202.480000   204.550000   200.817500   202.740000  1.523837e+08
max     702.410000   705.070000   699.570000   702.100000  1.855410e+09

In [42]:
# Get data types
df.dtypes

timestamp    datetime64[ns]
open                float64
high                float64
low                 float64
close               float64
volume                int64
dtype: object

In [43]:
# Check top 10 rows
df.head(10)

            timestamp    open    high     low   close    volume
timestamp
2019-10-15 2019-10-15  236.39  237.64  234.88  235.32  19012889
2019-10-14 2019-10-14  234.90  238.13  234.67  235.87  24106900
2019-10-11 2019-10-11  232.95  237.64  232.31  236.21  41698900
2019-10-10 2019-10-10  227.93  230.44  227.30  230.09  28253400
2019-10-09 2019-10-09  227.03  227.79  225.64  227.03  18692600
2019-10-08 2019-10-08  225.82  228.06  224.33  224.40  27955000
2019-10-07 2019-10-07  226.27  229.93  225.84  227.06  30576500
2019-10-04 2019-10-04  225.64  227.49  223.89  227.01  34619700
2019-10-03 2019-10-03  218.43  220.96  215.13  220.82  28606500
2019-10-02 2019-10-02  223.06  223.58  217.93  218.96  34612300

In [44]:
# Check last 10 rows
df.tail(10)

            timestamp     open     high      low   close     volume
timestamp
1999-10-29 1999-10-29  78.8130  81.0630  78.8130  80.125  130762800
1999-10-28 1999-10-28  77.0630  79.0000  76.0630  77.875  126022400
1999-10-27 1999-10-27  74.3750  76.6250  73.4380  76.375  110768000
1999-10-26 1999-10-26  74.9380  75.4992  73.3130  75.063   90358800
1999-10-25 1999-10-25  74.2500  76.1250  73.7485  74.500   81648000
1999-10-22 1999-10-22  77.1250  77.2500  73.3750  73.938  104876800
1999-10-21 1999-10-21  72.5627  77.0630  72.3750  76.125  198363200
1999-10-20 1999-10-20  70.0000  75.2500  70.0000  75.125  270351200
1999-10-19 1999-10-19  71.6250  75.0000  68.4380  68.500  255645600
1999-10-18 1999-10-18  73.8750  74.2500  71.1250  73.250  194101600

# Convert closing price to trading action

In [5]:
# Expected Return
# expectedReturn = 0 # Long if the stock price stays the same or increases
expectedReturn = 0.025 # Long if the stock price increases by 2.5%

df['prev_close'] = df['close'].shift(-1)

df['action'] = np.nan 

for i, row in df.iterrows():
    realReturn = (df.loc[i, 'close'] / df.loc[i, 'prev_close']) - 1
    df.loc[i, 'action'] = 1 if (realReturn >= expectedReturn) else 0 # 1 = Long / 0 = Short


df.head(10)

,timestamp,open,high,low,close,volume,prev_close,action
timestamp,,,,,,,,
2019-10-16,2019-10-16,233.37,235.2326,233.20,234.37,16507516,235.32,0.0
2019-10-15,2019-10-15,236.39,237.6500,234.88,235.32,21840000,235.87,0.0
2019-10-14,2019-10-14,234.90,238.1300,234.67,235.87,24106900,236.21,0.0
2019-10-11,2019-10-11,232.95,237.6400,232.31,236.21,41698900,230.09,1.0
2019-10-10,2019-10-10,227.93,230.4400,227.30,230.09,28253400,227.03,0.0
2019-10-09,2019-10-09,227.03,227.7900,225.64,227.03,18692600,224.40,0.0
2019-10-08,2019-10-08,225.82,228.0600,224.33,224.40,27955000,227.06,0.0
2019-10-07,2019-10-07,226.27,229.9300,225.84,227.06,30576500,227.01,0.0
2019-10-04,2019-10-04,225.64,227.4900,223.89,227.01,34619700,220.82,1.0
2019-10-03,2019-10-03,218.43,220.9600,215.13,220.82,28606500,218.96,0.0

# Preparing data to merge with news data

In [6]:
df.drop(df.index[:10], inplace=True)
len(df)
df

,timestamp,open,high,low,close,volume,prev_close,action
timestamp,,,,,,,,
2019-10-02,2019-10-02,223.0600,223.5800,217.9300,218.960,34612300,224.590,0.0
2019-10-01,2019-10-01,225.0700,228.2200,224.2000,224.590,34805800,223.970,0.0
2019-09-30,2019-09-30,220.9000,224.5800,220.7900,223.970,25977400,218.820,0.0
2019-09-27,2019-09-27,220.5400,220.9600,217.2800,218.820,25352000,219.890,0.0
2019-09-26,2019-09-26,220.0000,220.9400,218.8300,219.890,18833500,221.030,0.0
2019-09-25,2019-09-25,218.5500,221.5000,217.1400,221.030,21903400,217.680,0.0
2019-09-24,2019-09-24,221.0300,222.4900,217.1900,217.680,31190800,218.720,0.0
2019-09-23,2019-09-23,218.9500,219.8400,217.6500,218.720,19165500,217.730,0.0
2019-09-20,2019-09-20,221.3800,222.5600,217.4700,217.730,55413100,220.960,0.0
2019-09-19,2019-09-19,222.0100,223.7600,220.3700,220.960,22060600,222.770,0.0
2019-09-18,2019-09-18,221.0600,222.8500,219.4400,222.770,25340000,220.700,0.0
2019-09-17,2019-09-17,219.9600,220.8200,219.1200,220.700,18318700,219.900,0.0
2019-09-16,2019-09-16,217.7300,220.1300,217.5600,219.900,21158100,218.750,0.0
2019-09-13,2019-09-13,220.0000,220.7900,217.0200,218.750,39763300,223.090,0.0
2019-09-12,2019-09-12,224.8000,226.4200,222.8600,223.090,32226700,223.590,0.0
2019-09-11,2019-09-11,218.0700,223.7100,217.7300,223.590,44289600,216.700,1.0
2019-09-10,2019-09-10,213.8600,216.7800,211.7100,216.700,31777900,214.170,0.0
2019-09-09,2019-09-09,214.8400,216.4400,211.0700,214.170,27309400,213.260,0.0
2019-09-06,2019-09-06,214.0500,214.4200,212.5100,213.260,19362300,213.280,0.0
2019-09-05,2019-09-05,212.0000,213.9700,211.5100,213.280,23913700,209.190,0.0
2019-09-04,2019-09-04,208.3900,209.4800,207.3200,209.190,19188100,205.700,0.0
2019-09-03,2019-09-03,206.4300,206.9800,204.2200,205.700,20023000,208.740,0.0
2019-08-30,2019-08-30,210.1600,210.4500,207.2000,208.740,21143400,209.010,0.0
2019-08-29,2019-08-29,208.5000,209.3200,206.6600,209.010,20990500,205.530,0.0
2019-08-28,2019-08-28,204.1000,205.7200,203.3200,205.530,15938800,204.160,0.0
2019-08-27,2019-08-27,207.8600,208.5500,203.5300,204.160,25873300,206.490,0.0
2019-08-26,2019-08-26,205.8600,207.1900,205.0600,206.490,26043600,202.640,0.0
2019-08-23,2019-08-23,209.4300,212.0500,201.0000,202.640,46818000,212.460,0.0
2019-08-22,2019-08-22,213.1900,214.4400,210.7500,212.460,22253700,212.640,0.0
2019-08-21,2019-08-21,212.9900,213.6500,211.6000,212.640,21535400,210.360,0.0
...,...,...,...,...,...,...,...,...
1999-11-29,1999-11-29,94.2485,99.7500,93.2500,94.563,116040400,95.063,0.0
1999-11-26,1999-11-26,94.7500,95.5000,94.1250,95.063,33017600,94.688,0.0
1999-11-24,1999-11-24,93.0000,95.0000,91.6880,94.688,53776800,92.813,0.0
1999-11-23,1999-11-23,91.7500,95.2500,88.5000,92.813,135828000,90.625,0.0
1999-11-22,1999-11-22,91.7515,91.7500,89.2500,90.625,50590400,92.438,0.0
1999-11-19,1999-11-19,89.5000,92.8750,88.0630,92.438,78128400,89.625,1.0
1999-11-18,1999-11-18,91.0630,91.1250,88.4348,89.625,91196000,90.250,0.0
1999-11-17,1999-11-17,90.6880,94.7500,90.0000,90.250,91142800,91.188,0.0
1999-11-16,1999-11-16,89.9918,91.7500,88.5000,91.188,58464000,89.438,0.0
1999-11-15,1999-11-15,89.6250,92.8750,88.5000,89.438,64976800,90.625,0.0
1999-11-12,1999-11-12,91.9380,92.0000,87.3738,90.625,69764800,92.250,0.0
1999-11-11,1999-11-11,91.5940,92.6250,89.8750,92.250,67468800,91.438,0.0
1999-11-10,1999-11-10,88.2500,93.2500,88.1250,91.438,144474400,89.625,0.0
1999-11-09,1999-11-09,94.3712,94.5000,88.0000,89.625,202294400,96.375,0.0
1999-11-08,1999-11-08,87.7500,97.7340,86.7500,96.375,237731200,88.313,1.0
1999-11-05,1999-11-05,84.6250,88.3750,84.0000,88.313,104202000,83.625,1.0
1999-11-04,1999-11-04,82.0630,85.3750,80.6250,83.625,94771600,81.500,1.0
1999-11-03,1999-11-03,81.6250,83.2500,81.0000,81.500,82115600,80.250,0.0
1999-11-02,1999-11-02,78.0000,81.6880,77.3130,80.250,99808800,77.625,1.0
1999-11-01,1999-11-01,80.0000,80.6880,77.3750,77.625,69644400,80.125,0.0
1999-10-29,1999-10-29,78.8130,81.0630,78.8130,80.125,130762800,77.875,1.0
1999-10-28,1999-10-28,77.0630,79.0000,76.0630,77.875,126022400,76.375,0.0
1999-10-27,1999-10-27,74.3750,76.6250,73.4380,76.375,110768000,75.063,0.0
1999-10-26,1999-10-26,74.9380,75.4992,73.3130,75.063,90358800,74.500,0.0
1999-10-25,1999-10-25,74.2500,76.1250,73.7485,74.500,81648000,73.938,0.0
1999-10-22,1999-10-22,77.1250,77.2500,73.3750,73.938,104876800,76.125,0.0
1999-10-21,1999-10-21,72.5627,77.0630,72.3750,76.125,198363200,75.125,0.0
1999-10-20,1999-10-20,70.0000,75.2500,70.0000,75.125,270351200,68.500,1.0
1999-10-19,1999-10-19,71.6250,75.0000,68.4380,68.500,255645600,73.250,0.0
1999-10-18,1999-10-18,73.8750,74.2500,71.1250,73.250,194101600,NaN,0.0

In [7]:
truncate_df = df[(df['timestamp'].dt.year >= 2000)]
truncate_df.tail(10)

,timestamp,open,high,low,close,volume,prev_close,action
timestamp,,,,,,,,
2000-01-14,2000-01-14,100.0000,102.2500,99.375,100.438,97594000,96.750,1.0
2000-01-13,2000-01-13,94.4840,98.7500,92.500,96.750,258171200,87.188,1.0
2000-01-12,2000-01-12,95.0000,95.5012,86.500,87.188,244017200,92.750,0.0
2000-01-11,2000-01-11,95.9380,99.3750,90.500,92.750,110387200,97.750,0.0
2000-01-10,2000-01-10,102.0000,102.2500,94.750,97.750,126266000,99.500,0.0
2000-01-07,2000-01-07,96.5000,101.0000,95.500,99.500,115183600,95.000,1.0
2000-01-06,2000-01-06,106.1183,107.0000,95.000,95.000,191993200,104.000,0.0
2000-01-05,2000-01-05,103.7500,110.5630,103.000,104.000,194580400,102.500,0.0
2000-01-04,2000-01-04,108.2500,110.6250,101.188,102.500,128094400,111.938,0.0
2000-01-03,2000-01-03,104.8750,112.5000,101.688,111.938,133949200,102.813,1.0

# Import News data

In [8]:
def open_json(year, month):
    "Save as pandas dataframe"
    file_str = 'data/jsons/' + str(year) + '-' + '{:02}'.format(month) + '.json'
    with open(file_str) as data_file:    
        NYTimes_data = json.load(data_file)
    
    date_list = []
    df = pd.DataFrame()  
    df['News'] = None
    

    for i in range(len(NYTimes_data["response"]["docs"][:])):
        if NYTimes_data["response"]["docs"][i]["pub_date"][:10] not in df.index:
            df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = NYTimes_data["response"]["docs"][:][i]['headline']['main']
        else:
            df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = df.loc[NYTimes_data["response"]["docs"][i]["pub_date"][:10]].values + NYTimes_data["response"]["docs"][:][i]['headline']['main']
    
    df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
    df.sort_index(inplace=True)
    
    return df

In [9]:
open_json(2009,1)

                                                         News
2009-01-01  ‘Spring Awakening’ Producers Join ‘Hair’ Reviv...
2009-01-02  Picasso, Matisse Works Stolen in BerlinWilliam...
2009-01-03  A Troubled Life and a Mysterious CaseYour comm...
2009-01-04  Timeline: Israel, the Gaza Strip and HamasPavi...
2009-01-05  Laura Bush Signs Deal for MemoirFringe Festiva...
2009-01-06  Barenboim Cancels Middle East ConcertsEnter th...
2009-01-07  Disputed Memoir May Be Published as FictionCha...
2009-01-08  Self-Publishing Company Acquires RivalEvery In...
2009-01-09  Zantzinger, Who Inspired Bob Dylan Ballad, Die...
2009-01-10  Your comments on the Poipet brothel columnA fe...
2009-01-11  The Lovable Side of a Gritty CityParadise in T...
2009-01-12  New Fox Show for Hilary DuffWinehouse’s Husban...
2009-01-13  Howie Mandel Hospitalized‘Slumdog’  Victories ...
2009-01-14  Another Cast Change at the METStone Chews Coca...
2009-01-15  Antiquities Dealer Arrested  Over Theft of Egy...
2009-01-16  Aerosmith Cancels Concert in CaracasBoy George...
2009-01-17  A Day of War in RafahConflict in Gaza: Day 22I...
2009-01-18  Patrick Swayze Heads HomeIn the WingsThe Paint...
2009-01-19  Leaner Days Ahead for Citadel and Other FundsH...
2009-01-20  Fund-raising Drive Saves San Francisco Theater...
2009-01-21  American Symphony Orchestra Announces Schedule...
2009-01-22  Academy Award Nominations AnnouncedF.B.I. Kept...
2009-01-23  New Appointments at Arts GroupsMcDonagh Plots ...
2009-01-24  Your comments on Bill GatesDrunk as a Skunk .....
2009-01-25  Book Critics Name Their FinalistsIn the WingsA...
2009-01-26  Suspended Host’s Return Stokes New Controversy...
2009-01-27  Video: What’s Ahead at Davos 2009‘Davos Man’ L...
2009-01-28  Is China Immune?Rogoff: Arriving to a Packed H...
2009-01-29  Gates Discusses Economy’s Impact on Foundation...
2009-01-30  NATO’s Future? Davos Men and Women WonderObama...
2009-01-31  From Shock to ActionBank of the Future: More L...

# Merge technical stock data with news

In [10]:
def merge_news_price(df):
    all_news = pd.DataFrame()
    for i in range(2000, 2020):
        for j in range(1, 13):
            try:
                temp = open_json(i, j)
                all_news = all_news.append(temp)
                print("Completed {}-{}".format(i, j))
            except:
                pass   
    all_news = pd.merge(df,all_news, how='left', left_index=True, right_index=True)
    
    return all_news

In [11]:
data = merge_news_price(truncate_df)

Completed 2000-1
Completed 2000-2
Completed 2000-3
Completed 2000-4
Completed 2000-5
Completed 2000-6
Completed 2000-7
Completed 2000-8
Completed 2000-9
Completed 2000-10
Completed 2000-11
Completed 2000-12
Completed 2001-1
Completed 2001-2
Completed 2001-3
Completed 2001-4
Completed 2001-5
Completed 2001-6
Completed 2001-7
Completed 2001-8
Completed 2001-9
Completed 2001-10
Completed 2001-11
Completed 2001-12
Completed 2002-1
Completed 2002-2
Completed 2002-3
Completed 2002-4
Completed 2002-5
Completed 2002-6
Completed 2002-7
Completed 2002-8
Completed 2002-9
Completed 2002-10
Completed 2002-11
Completed 2002-12
Completed 2003-1
Completed 2003-2
Completed 2003-3
Completed 2003-4
Completed 2003-5
Completed 2003-6
Completed 2003-7
Completed 2003-8
Completed 2003-9
Completed 2003-10
Completed 2003-11
Completed 2003-12
Completed 2004-1
Completed 2004-2
Completed 2004-3
Completed 2004-4
Completed 2004-5
Completed 2004-6
Completed 2004-7
Completed 2004-8
Completed 2004-9
Completed 2004-10
Completed 2004-11
Completed 2004-12
Completed 2005-1
Completed 2005-2
Completed 2005-3
Completed 2005-4
Completed 2005-5
Completed 2005-6
Completed 2005-7
Completed 2005-8
Completed 2005-9
Completed 2005-10
Completed 2005-11
Completed 2005-12
Completed 2007-12
Completed 2008-1
Completed 2008-2
Completed 2008-3
Completed 2008-4
Completed 2008-5
Completed 2008-6
Completed 2008-7
Completed 2008-8
Completed 2008-9
Completed 2008-10
Completed 2009-1
Completed 2009-2
Completed 2009-4
Completed 2009-7
Completed 2009-8
Completed 2009-9
Completed 2009-10
Completed 2009-11
Completed 2009-12
Completed 2010-1
Completed 2010-2
Completed 2010-5
Completed 2010-6
Completed 2010-7
Completed 2010-8
Completed 2010-9
Completed 2010-10
Completed 2010-11
Completed 2010-12
Completed 2011-1
Completed 2011-2
Completed 2011-3
Completed 2011-4
Completed 2011-5
Completed 2011-6
Completed 2011-7
Completed 2011-8
Completed 2011-9
Completed 2011-10
Completed 2011-11
Completed 2012-1
Completed 2012-3
Completed 2012-4
Completed 2012-5
Completed 2012-6
Completed 2012-7
Completed 2012-8
Completed 2012-9
Completed 2012-10
Completed 2012-11
Completed 2012-12
Completed 2013-1
Completed 2013-4
Completed 2013-5
Completed 2013-6
Completed 2013-7
Completed 2013-8
Completed 2013-9
Completed 2013-10
Completed 2013-11
Completed 2013-12
Completed 2014-1
Completed 2014-2
Completed 2014-3
Completed 2014-4
Completed 2014-5
Completed 2014-6
Completed 2014-7
Completed 2014-9
Completed 2014-10
Completed 2014-11
Completed 2014-12
Completed 2015-1
Completed 2015-2
Completed 2015-3
Completed 2015-4
Completed 2015-5
Completed 2015-6
Completed 2015-7
Completed 2015-8
Completed 2015-9
Completed 2015-10
Completed 2015-11
Completed 2015-12
Completed 2016-1
Completed 2016-2
Completed 2016-3
Completed 2016-4
Completed 2016-5
Completed 2016-6
Completed 2016-7
Completed 2016-8
Completed 2016-9
Completed 2016-10
Completed 2016-11
Completed 2016-12
Completed 2017-1
Completed 2017-2
Completed 2017-3
Completed 2017-4
Completed 2017-5
Completed 2017-6
Completed 2017-7
Completed 2017-8
Completed 2017-9
Completed 2017-10
Completed 2017-11
Completed 2017-12
Completed 2018-1
Completed 2018-2
Completed 2018-3
Completed 2018-4
Completed 2018-5
Completed 2018-6
Completed 2018-7
Completed 2018-8
Completed 2018-9
Completed 2018-10
Completed 2018-11
Completed 2018-12
Completed 2019-1
Completed 2019-3
Completed 2019-4
Completed 2019-5
Completed 2019-6
Completed 2019-7
Completed 2019-8
Completed 2019-9

In [12]:
data.isnull().any()

timestamp     False
open          False
high          False
low           False
close         False
volume        False
prev_close    False
action        False
News           True
dtype: bool

In [13]:
data=data.dropna()

# Using NLTK sentiment analyzer to generate a polarity score

In [14]:
import nltk
nltk.download('vader_lexicon')

def sentimentanalysis(df):
    sid = SentimentIntensityAnalyzer()
    for date in df.index:
        try:
            sentence = unicodedata.normalize('NFKD', df.loc[date, 'News'])
            ss = sid.polarity_scores(sentence)
            df.at[date, 'neg'] = ss['neg']
            df.at[date, 'neu'] = ss['neu']
            df.at[date, 'pos'] = ss['pos']
        except TypeError:
            print (df.loc[date, 'News'])
            print (date)
    return df

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/thupham/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [16]:
sentimental_data = sentimentanalysis(data)

2019-04-01    Las principales noticias del lunesReview: ‘Do ...
2019-04-01    For the Performing Arts Students in This Novel...
Name: News, dtype: object
2019-04-01 00:00:00
2019-04-01    Las principales noticias del lunesReview: ‘Do ...
2019-04-01    For the Performing Arts Students in This Novel...
Name: News, dtype: object
2019-04-01 00:00:00
2019-05-01    Las principales noticias del miércolesJudge Ov...
2019-05-01    The Designer Reimagining Traditional West Afri...
Name: News, dtype: object
2019-05-01 00:00:00
2019-05-01    Las principales noticias del miércolesJudge Ov...
2019-05-01    The Designer Reimagining Traditional West Afri...
Name: News, dtype: object
2019-05-01 00:00:00
2019-07-01    Corrections: July 1, 2019A Global Gay Pride We...
2019-07-01    The Best Movies and TV Shows New to Netflix, A...
Name: News, dtype: object
2019-07-01 00:00:00
2019-07-01    Corrections: July 1, 2019A Global Gay Pride We...
2019-07-01    The Best Movies and TV Shows New to Netflix, A...
Name: News, dtype: object
2019-07-01 00:00:00
2019-08-01    The Raffles Singapore Embarks on a Modern Jour...
2019-08-01    From the Land of Many Grapes, Unusual Italian ...
Name: News, dtype: object
2019-08-01 00:00:00
2019-08-01    The Raffles Singapore Embarks on a Modern Jour...
2019-08-01    From the Land of Many Grapes, Unusual Italian ...
Name: News, dtype: object
2019-08-01 00:00:00

In [17]:
sentimental_data.drop(['News'], axis=1, inplace=True)

In [18]:
null_data = sentimental_data[sentimental_data.isnull().any(axis=1)]

In [19]:
null_data

,timestamp,open,high,low,close,volume,prev_close,action,neg,neu,pos
2019-04-01,2019-04-01,191.64,191.68,188.38,191.24,27862000,189.95,0.0,NaN,NaN,NaN
2019-04-01,2019-04-01,191.64,191.68,188.38,191.24,27862000,189.95,0.0,NaN,NaN,NaN
2019-05-01,2019-05-01,209.88,215.31,209.23,210.52,64827300,200.67,1.0,NaN,NaN,NaN
2019-05-01,2019-05-01,209.88,215.31,209.23,210.52,64827300,200.67,1.0,NaN,NaN,NaN
2019-07-01,2019-07-01,203.17,204.49,200.65,201.55,27253000,197.92,0.0,NaN,NaN,NaN
2019-07-01,2019-07-01,203.17,204.49,200.65,201.55,27253000,197.92,0.0,NaN,NaN,NaN
2019-08-01,2019-08-01,213.90,218.03,206.74,208.43,54017900,213.04,0.0,NaN,NaN,NaN
2019-08-01,2019-08-01,213.90,218.03,206.74,208.43,54017900,213.04,0.0,NaN,NaN,NaN

In [20]:
sentimental_data.dropna()

,timestamp,open,high,low,close,volume,prev_close,action,neg,neu,pos
2000-01-03,2000-01-03,104.8750,112.5000,101.6880,111.938,133949200,102.813,1.0,0.051,0.871,0.078
2000-01-04,2000-01-04,108.2500,110.6250,101.1880,102.500,128094400,111.938,0.0,0.056,0.904,0.039
2000-01-05,2000-01-05,103.7500,110.5630,103.0000,104.000,194580400,102.500,0.0,0.093,0.828,0.079
2000-01-06,2000-01-06,106.1183,107.0000,95.0000,95.000,191993200,104.000,0.0,0.079,0.835,0.086
2000-01-07,2000-01-07,96.5000,101.0000,95.5000,99.500,115183600,95.000,1.0,0.072,0.838,0.090
2000-01-10,2000-01-10,102.0000,102.2500,94.7500,97.750,126266000,99.500,0.0,0.081,0.850,0.068
2000-01-11,2000-01-11,95.9380,99.3750,90.5000,92.750,110387200,97.750,0.0,0.086,0.846,0.069
2000-01-12,2000-01-12,95.0000,95.5012,86.5000,87.188,244017200,92.750,0.0,0.115,0.789,0.096
2000-01-13,2000-01-13,94.4840,98.7500,92.5000,96.750,258171200,87.188,1.0,0.097,0.818,0.085
2000-01-14,2000-01-14,100.0000,102.2500,99.3750,100.438,97594000,96.750,1.0,0.097,0.832,0.071
2000-01-18,2000-01-18,101.0000,106.0000,100.4380,103.938,114794400,100.438,1.0,0.083,0.816,0.101
2000-01-19,2000-01-19,105.6250,108.7500,103.3750,106.563,149410800,103.938,1.0,0.110,0.833,0.057
2000-01-20,2000-01-20,115.5000,121.5000,113.5000,113.500,457783200,106.563,1.0,0.065,0.852,0.083
2000-01-21,2000-01-21,114.2500,114.2500,110.1880,111.313,123981200,113.500,0.0,0.098,0.828,0.074
2000-01-24,2000-01-24,108.4380,112.7500,105.1315,106.250,110219200,111.313,0.0,0.098,0.779,0.124
2000-01-25,2000-01-25,105.0000,113.1250,102.3750,112.250,124286400,106.250,1.0,0.070,0.863,0.067
2000-01-26,2000-01-26,110.0000,114.1880,109.7500,110.188,91789600,112.250,0.0,0.054,0.870,0.076
2000-01-27,2000-01-27,108.8097,113.0000,107.0000,110.000,85036000,110.188,0.0,0.092,0.835,0.072
2000-01-28,2000-01-28,108.1880,110.8750,100.6250,101.625,105837200,110.000,0.0,0.065,0.854,0.080
2000-01-31,2000-01-31,101.0000,103.8750,94.4979,103.750,175420000,101.625,0.0,0.106,0.823,0.072
2000-02-01,2000-02-01,104.0000,105.0000,100.0000,100.250,79508800,103.750,0.0,0.081,0.835,0.084
2000-02-02,2000-02-02,100.7500,102.1250,97.0000,98.813,116048800,100.250,0.0,0.054,0.893,0.052
2000-02-03,2000-02-03,100.3130,104.2500,100.2500,103.313,118798400,98.813,1.0,0.077,0.833,0.090
2000-02-04,2000-02-04,103.9380,110.0000,103.6250,108.000,106330000,103.313,1.0,0.109,0.821,0.069
2000-02-07,2000-02-07,108.0038,114.2500,105.9380,114.063,110266800,108.000,1.0,0.086,0.836,0.078
2000-02-08,2000-02-08,114.0000,116.1250,111.2500,114.875,102160800,114.063,0.0,0.113,0.815,0.072
2000-02-09,2000-02-09,114.1250,117.1250,112.4380,112.625,74841200,114.875,0.0,0.119,0.825,0.057
2000-02-10,2000-02-10,112.8750,113.8750,109.1250,113.500,75745600,112.625,0.0,0.134,0.796,0.070
2000-02-11,2000-02-11,113.6250,114.1250,108.2500,108.750,53062800,113.500,0.0,0.068,0.831,0.100
2000-02-14,2000-02-14,109.3130,115.8750,108.6204,115.813,91884800,108.750,1.0,0.067,0.839,0.093
...,...,...,...,...,...,...,...,...,...,...,...
2019-08-20,2019-08-20,210.8800,213.3500,210.3200,210.360,26884300,210.350,0.0,0.136,0.775,0.088
2019-08-21,2019-08-21,212.9900,213.6500,211.6000,212.640,21535400,210.360,0.0,0.121,0.786,0.093
2019-08-22,2019-08-22,213.1900,214.4400,210.7500,212.460,22253700,212.640,0.0,0.110,0.801,0.089
2019-08-23,2019-08-23,209.4300,212.0500,201.0000,202.640,46818000,212.460,0.0,0.091,0.813,0.097
2019-08-26,2019-08-26,205.8600,207.1900,205.0600,206.490,26043600,202.640,0.0,0.079,0.842,0.080
2019-08-27,2019-08-27,207.8600,208.5500,203.5300,204.160,25873300,206.490,0.0,0.086,0.842,0.072
2019-08-28,2019-08-28,204.1000,205.7200,203.3200,205.530,15938800,204.160,0.0,0.106,0.824,0.070
2019-08-29,2019-08-29,208.5000,209.3200,206.6600,209.010,20990500,205.530,0.0,0.076,0.851,0.073
2019-08-30,2019-08-30,210.1600,210.4500,207.2000,208.740,21143400,209.010,0.0,0.068,0.860,0.071
2019-09-03,2019-09-03,206.4300,206.9800,204.2200,205.700,20023000,208.740,0.0,0.104,0.809,0.087
2019-09-04,2019-09-04,208.3900,209.4800,207.3200,209.190,19188100,205.700,0.0,0.072,0.872,0.055
2019-09-05,2019-09-05,212.0000,213.9700,211.5100,213.280,23913700,209.190,0.0,0.110,0.800,0.089
2019-09-06,2019-09-06,214.0500,214.4200,212.5100,213.260,19362300,213.280,0.0,0.096,0.797,0.107
2019-09-09,2019-09-09,214.8400,216.4400,211.0700,214.170,27309400,213.260,0.0,0.112,0.787,0.101
2019-09-10,2019-09-10,213.8600,216.7800,211.7100,216.700,31777900,214.170,0.0,0.105,0.780,0.114
2019-09-11,2019-09-11,218.0700,223.7100,217.7300,223.590,44289600,216.700,1.0,0.104,0.811,0.085
2019-09-12,2019-09-12,224.8000,226.4200,222.8600,223.090,32226700,223.590,0.0,0.097,0.814,0.089
2019-09-13,2019-09-13,220.0000,220.7900,217.0200,218.750,39763300,223.090,0.0,0.102,0.804,0.094
2019-09-16,2019-09-16,217.7300,220.1300,217.5600,219.900,21158100,218.750,0.0,0.128,0.793,0.079
2019-09-17,2019-09-17,219.9600,220.8200,219.1200,220.700,18318700,219.900,0.0,0.109,0.779,0.112
2019-09-18,2019-09-18,221.0600,222.8500,219.4400,222.770,25340000,220.700,0.0,0.079,0.792,0.129
2019-09-19,2019-09-19,222.0100,223.7600,220.3700,220.960,22060600,222.770,0.0,0.114,0.802,0.084
2019-09-20,2019-09-20,221.3800,222.5600,217.4700,217.730,55413100,220.960,0.0,0.123,0.791,0.085
2019-09-23,2019-09-23,218.9500,219.8400,217.6500,218.720,19165500,217.730,0.0,0.136,0.762,0.102
2019-09-24,2019-09-24,221.0300,222.4900,217.1900,217.680,31190800,218.720,0.0,0.077,0.843,0.080
2019-09-25,2019-09-25,218.5500,221.5000,217.1400,221.030,21903400,217.680,0.0,0.122,0.787,0.091
2019-09-26,2019-09-26,220.0000,220.9400,218.8300,219.890,18833500,221.030,0.0,0.120,0.769,0.111
2019-09-27,2019-09-27,220.5400,220.9600,217.2800,218.820,25352000,219.890,0.0,0.098,0.773,0.129
2019-09-30,2019-09-30,220.9000,224.5800,220.7900,223.970,25977400,218.820,0.0,0.130,0.807,0.063
2019-10-01,2019-10-01,225.0700,228.2200,224.2000,224.590,34805800,223.970,0.0,0.150,0.808,0.041

In [21]:
# Write dataframe to access locally
sentimental_data.to_csv("daily_sentimental.csv", index=False)